	*{margin: 0;padding: 0;}
			*{margin: 0;padding: 0;}
			.top_nav{width: 100%;
				height: 32px;
				
				background-color: #F4F4F6;
				text-align: center;
				line-height: 30px;
				}
			.top_nav1{width: 125px; height: 32px;margin-left: 342px;border-left:1px solid white;border-right: 1px white solid;font-size: 13px;color: #666666;}
			.top_nav2{width: 125px; height: 32px;margin-left: 470px;margin-top:-35px;font-size:13px;color: #666666;}
			.top_nav3{width: 625px; height: 32px;;margin-left: 900px;margin-top:-35px; display: -webkit-flex;
    			display: flex;font-size: 12px;font-family: "微软雅黑";}
			.top_nav3_nav1{width:182px;height: 32px;color: red;}
			.top_nav3_nav2{width: 80px;height: 32px;font-size: 13px;color: #666666;}
			.top_nav3_nav3{width: 67px;height: 32px;}
			.top_nav3_nav4{width: 55px;height: 32px;font-size: 13px;color: #666666;}
			.top_nav3_nav5{width: 55px;height: 32px;font-size: 13px;color: #666666;}
			
			
			.nav1{width: 455px;height: 50px;margin-left: 251px;margin-top: 20px;}
			.nav2{width: 576px;height: 16px;margin-left: 734px;margin-top: -24px;}
			.nav2 ul li{width: 190px;height: 16px;text-align: center;list-style: none;float: left;font-size: 13px;font-family: "微软雅黑";color: #666666;line-height: 15px;}
			.nav3{width: 1058px;height: 500px;margin-left: 251px;margin-top: 34px;}
			.nav3_a1{width: 1060px;height: 42.8px;border-color: #eee;color: #aaa;font-size: 13px;}	
			.nav3_a1_a1{width: 59px;height: 42.8px;border: 1px solid #EEEEEE;text-align: right;line-height: 40px;float: left;}
			.nav3_a1_a2{width: 369px;height: 42.8px;border: 1px solid #EEEEEE;text-align: center;line-height: 40px;float: left;}
			.nav3_a1_a3{width: 107px;height: 42.8px;border: 1px solid #EEEEEE;text-align: center;line-height: 40px;float: left;}
			.nav3_a1_a4{width: 190px;height: 42.8px;border: 1px solid #EEEEEE;text-align: center;line-height: 40px;float: left;}
			.nav3_a1_a2 ul li{list-style: none;display: inline;color: black;}
			
			.shop{width: 1058px;height: 102.4px;border: 1px solid #EEEEEE;margin-left: ;margin-top: ;text-align: center;}
			.shop_a1{width:40px ;height: 102.4px;float: left;text-align: center;float: left;}
			.shop_a2{width: 300px;height: 90px;float: left;margin-left: 41px;margin-top: -60px;background: url(img/33.PNG);background-repeat: no-repeat;}
			.shop_a2 a{text-decoration: none;margin-left: 96px;margin-top: 26px;color: #666666;font-size: 13px;}
			.shop_a2 a:hover{color: red;}
			
			.shop_a3{width: 109px;height: 90px;float: left;margin-left: 429px;margin-top: -92px;text-align: center;line-height: 45px;color:black;font-size: 13px;}
			.shop_a4{width: 109px;height: 90px;float: left;margin-left: 538px;margin-top: -92px;text-align: center;line-height: 95px;color: black;font-size: 13px;}
			.shop_a5{width: 109px;height: 90px;float: left;margin-left: 647px;margin-top: -92px;text-align: center;line-height: 95px;color: black;font-size: 13px;}
			.shop_a6{width: 109px;height: 90px;float: left;margin-left: 756px;margin-top: -92px;text-align: center;line-height: 95px;color: black;font-size: 13px;}
			.shop_a7{width: 188px;height: 90px;float: left;margin-left: 866px;margin-top: -92px;text-align: center;line-height: 45px;color: black;font-size: 13px;}
		
			.aaa{width: 1058px;height: 42.8px;border-color: #eee;color: #aaa;font-size: 13px;	margin-top: 110px;}
			.bbb{background-color: #EEEEEE;width: 1058px;height: 52px;border-color: #eee;color: #aaa;font-size: 13px;margin-top: -13px;line-height: 20px;	}
			.bbb_a1{margin-left: 40px;width: 100px;height: 50px;border: 1px solid yellow;margin-top: 15px;text-align: center;line-height: 48px;font-size: 16px;background-color: #FDF8F1;border-radius: 4px;}
			.bbb_a1 a{text-decoration: none;color: #666666;}
			.bbb_a1 a:hover{color: red;}
			
			.bbb_a2{margin-left: 146px;width: 100px;height: 50px;margin-top: -52px;text-align: center;line-height: 48px;font-size: 12px;}
			.bbb_a2 a{text-decoration: none;}
			.bbb_a2 a:hover{color: red;}
			
			.bbb_a3{margin-left: 600px;width: 300px;height: 50px;margin-top: -51px;text-align: center;line-height: 48px;font-size: 14px;color: black;}
			.bbb_a4{margin-left: 955px;width: 100px;height: 50px;margin-top: -49px;text-align: center;line-height: 48px;font-size: 16px;background-color: red;border-radius: 9px;}
		
			.ccc{width: 400px;height: 100px;margin-left: 656px;margin-top: 20px;font-size: 13px;color: #666;}
			.ccc ul li{list-style: none;line-height: 34px;}
			
			.ddd{width: 120px;height: 32px;margin-left: 949px;font-size: 13px;color: #666;}
		 	.ddd ul li{list-style: none;line-height: 34px;width: 32px;height: 32px;}
