<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Myproject5</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>LoginServlet配置</description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yougou.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>QueryServlet配置</description>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.yougou.servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/Query</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>QueryType配置</description>
    <servlet-name>QueryType</servlet-name>
    <servlet-class>com.yougou.servlet.QueryType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryType</servlet-name>
    <url-pattern>/type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AddServlet配置</description>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.yougou.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>UpdateServlet</description>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.yougou.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharFilter</filter-name>
    <filter-class>com.yougou.filter.CharFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.yougou.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
</web-app>